<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxy" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:9000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <!-- Restrict to specific IP ranges if needed -->
            <!--
            <ipSecurity allowUnlisted="false">
                <add allowed="true" ipAddress="10.0.0.0" subnetMask="255.0.0.0" />
                <add allowed="true" ipAddress="172.16.0.0" subnetMask="255.240.0.0" />
            </ipSecurity>
            -->
        </security>
    </system.webServer>
</configuration>
